*{
   margin: 0; 
   padding: 0;
}
html,
body {
  position: relative;
  height: 70%;
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
 
 


 


 



/* vikash overwite css */



ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 500px;
}
.btn{
 
  cursor: pointer;
  font-weight: bold;
}
.btn:hover{

 border: 4px solid grey;
 transition:all 0.5s ease-in-out;
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}


#about {
  color:rgb(177, 145, 145);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
#contact {
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
#services {
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

#tent{
  background-image: url("../Images/tent.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
#dj{
  background-image: url("../Images/dj.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
#decoration{
  background-image: url("../Images/decoration.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
#catering{
  background-image: url("../Images/catering.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
#videocam{
  background-image: url("../Images/videocam.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
#container {
  width: 100%;
  height: 330px
}

#part1 {
  width: 100%;
  height: 280px;
  background-color: #292929
}

#part2 {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: -15px
}

#companyinfo {
  width: 14%;
  height: 280px;
  position: relative;
  left: 8%;
  top: 30px
}

#sitelink {
  font-size: 35px;
  color: #f44336
}

#sitelink:hover {
  color: #e65100
}

#title {
  color: gray;
  position: relative;
  top: 0px;
  font-size: 14.1px
}

#detail {
  color: #aaa7a7;
  font-size: 16px
}

#explore {
  width: 14%;
  height: 280px;
  position: relative;
  top: -235px;
  left: 29%
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  color: white;
  font-size: 20px
}

.link {
  display: flex;
  width: 90px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px
}

.link:hover,
.link1:hover {
  color: #e65100
}

#visit {
  width: 14%;
  height: 280px;
  position: relative;
  top: -515px;
  left: 42%
}

.text {
  color: #aaa7a7;
  font-size: 14px;
  margin-top: -10px
}

#legal {
  width: 14%;
  height: 280px;
  position: relative;
  top: -800px;
  left: 59.5%
}

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px
}

#subscribe {
  position: relative;
  top: -1080px;
  left: 78%;
  width: 14%;
  height: 280px
}

#email {
  color: white;
  position: relative;
  top: -20px
}

.btn {
  position: relative;
  top: -10px
}

#txt5 {
  position: relative;
  top: 0px
}

.social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer
}

.fa-facebook-square:hover {
  color: #3B579D
}

.fa-linkedin:hover {
  color: #007BB6
}

.fa-twitter-square:hover {
  color: #2CAAE1
}

#txt6 {
  color: white;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
  color: #aaa7a7
}

.material-icons {
  position: relative;
  top: 3px
}

@media only screen and (max-width:1000px) {
  #companyinfo {
      width: 20%
  }

  #sitelink {
      font-size: 30px
  }

  #txt5,
  #txt4 {
      font-size: 17px
  }

  #txt5,
  .social {
      position: relative;
      top: -5px
  }
}

@media only screen and (max-width:850px) {
  #companyinfo {
      position: relative;
      left: 3%
  }

  #txt6 {
      position: relative;
      left: 3%
  }

  #txt1,
  #txt2,
  #txt3,
  #txt4,
  #txt5 {
      font-size: 15px
  }

  #explore {
      position: relative;
      top: -240px;
      left: 26%
  }

  #sitelink {
      font-size: 25px
  }

  #detail {
      font-size: 13px
  }

  .link {
      width: 60px
  }

  #visit {
      position: relative;
      top: -520px;
      left: 37%
  }

  .text {
      font-size: 13px
  }

  #legal {
      position: relative;
      top: -800px;
      left: 54%
  }

  #subscribe {
      position: relative;
      top: -1080px;
      left: 76%;
      width: 20%
  }

  #txt5,
  .social {
      position: relative;
      left: -110%;
      top: px
  }

  #email,
  .btn {
      position: relative;
      top: 0px
  }

  #part1 {
      height: 250px
  }
}
.service-section{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
  
}
#row1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:50px;
}
#row2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:50px;
}
.card:hover{
  transition:all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
  .service-section {
    display: flex;
    flex-direction: column;
 
  }
}
@media only screen and (max-width: 600px) {
  #row2 {
    display: flex;
    flex-direction: column;
    padding:30px;

  
  }
}
@media only screen and (max-width: 600px) {
  #row1 {
    display: flex;
    flex-direction: column;
    padding:30px;
 

  }
}
#services-span{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
 
}
#services-div{
  text-align: center;
  margin: 30px;
}
#exampleModalCenter{
  max-width: 200px;
 
}
@media only screen and (max-width: 600px) {
  .modal-content  {
    width: 300px;
    margin-left: 20px;
    margin-top: 100px;
 

  }
}
.navbar-toggler {
 
  background-color: white;
  
}
.blog{ position: relative;   margin-bottom: 40px; }
.blog .inner-box{   position: relative;   padding: 0 40px 35px;   background-color:#fafafa;   border-radius: 10px; }
.blog .inner-box:before{ position: absolute; left: 0;   top: 0; height: 105px;   width: 100%; background-color:#ffffff;
  content: ""; }
.blog .image-box{   position: relative;   text-align: center; }
.blog .image-box .image{
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  overflow: hidden;
  background-color: #9C27B0;
}
.blog .image-box .image img{
  max-width: 100%;
  height: auto;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.blog .inner-box:hover .image-box .image img{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .5;
}
.blog .lower-content{
  position: relative;
}
.blog .info-box{
  position: relative;
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
  background-color:#ffffff;
  transform: translateY(-50%);
  min-height: 80px;
  padding-top: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 18px 28px rgba(11,11,77,.14);
}
.blog .info-box .date{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #9C27B0;
  font-weight: 500;
  margin-bottom: 5px;
}
.blog .info-box .author{
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #707070;
  font-weight: 400;
}
.blog h4{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #12114a;
  font-weight: 500;
  margin-bottom: 18px;
}
.blog h4 a{
  color: #12114a;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.blog h4 a:hover{
  color: #9C27B0;
}
.blog .text{
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 25px;
  color: #707070;
  font-weight: 400;
  margin-bottom: 35px;
}
.blog .link-box{
  position: relative;
  display: block;
}
.blog .link-box a{
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  color: #12114a;
  font-weight: 500;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.blog .link-box a span{
  float: left;
  line-height: 25px;
  color: #000000;
  margin-right: 12px;
}
.blog .link-box a:hover{
  color: #9C27B0;
}
